Repository mind-inria/mri-nufft, pull requests merged in 2025-07, with the labels that each got.

#279 Fix gridder
  src/mrinufft/trajectories/display3D.py
  src/mrinufft/trajectories/inits/travelling_salesman.py
Labels: trajectories

#261 test : add unit test for B0 map upsampling in MRIFourierCorrected
  tests/test_offres_exp_approx.py
Labels: off-resonance-correction

#256 Fix : add negate flag to switch sign convention in ORC
  src/mrinufft/operators/off_resonance.py
Labels: off-resonance-correction

#275 Improvements on the documentation
  .github/workflows/test-ci.yml
  CONTRIBUTING.md
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/function.rst
  docs/conf.py
  docs/getting_started.rst
  docs/mrinufft_convention.rst
  docs/nufft.rst
  examples/GPU/example_3d_trajectory_display.py
  examples/GPU/example_cg.py
  examples/GPU/example_density.py
  examples/GPU/example_fastMRI_UNet.py
  examples/GPU/example_learn_samples.py
  examples/GPU/example_learn_samples_multicoil.py
  examples/GPU/example_learn_straight_line_readouts.py
  examples/operators/README.rst
  examples/operators/example_offresonance.py
  examples/operators/example_readme.py
  examples/operators/example_stacked.py
  examples/operators/example_subspace.py
  examples/trajectories/README.rst
  examples/trajectories/example_2D_trajectories.py
  examples/trajectories/example_3D_trajectories.py
  examples/trajectories/example_display_config.py
  examples/trajectories/example_gif_2D.py
  examples/trajectories/example_gif_3D.py
  examples/trajectories/example_learn_samples_multires.py
  examples/trajectories/example_sampling_densities.py
  examples/trajectories/example_trajectory_tools.py
  examples/trajectories/utils.py
  pyproject.toml
  src/mrinufft/extras/field_map.py
  src/mrinufft/io/nsp.py
  src/mrinufft/io/siemens.py
  src/mrinufft/operators/base.py
  src/mrinufft/operators/interfaces/gpunufft.py
  src/mrinufft/operators/interfaces/torchkbnufft.py
  src/mrinufft/operators/stacked.py
  src/mrinufft/operators/subspace.py
  src/mrinufft/trajectories/__init__.py
  src/mrinufft/trajectories/display3D.py
  src/mrinufft/trajectories/trajectory2D.py
Labels: documentation
